p {
    color:darksalmon;
}

div p {
    color:black;
    font-size:22px;
}

ul {
    background-color:beige;
    list-style-type:none;
    padding-left: 25%;
}

li {
    display: inline-block;
    text-align: center;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    
    border-top: 5px;
    border-left: 5px;
    border-bottom: 5px;
    border-right: 5px;
    
    border-style: groove;
    border-color:firebrick;
}
    
    /* Classes start with periods. */
.bw-10 { border-width: 10px }
.bc-blk { border-color: black; }
.bd-dot { border-style:dotted; }
.bd-tp-yw {border-top-color: yellow;}
.bd-lf-char{ border-left-color:chartreuse;}
.bd-rg-ab{ border-right-color:aliceblue;}
.bd-bt-sm { border-bottom-color: salmon;}